<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eventDetail</title>
    <link rel="stylesheet" href="themes/football.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="javascripts/eventDetail.js"></script>
  </head>
  <body>
    <div data-role="page" data-theme="a">
      <div data-role="header" data-position="inline">
        <button id="back">Back</button>
        <h1>Detail Event</h1>
        <button id="fav">add to Favorite</button>
        <button id='logout'>Logout</button>
      </div>
      <div data-role="content" data-theme="a">
        <table style="width:100%">
            <tr>
                <td style="text-align:left" width="20%"><img id ="pictureHome" width="100%" ></td>
                <th id="vs" style="text-align:center"><h1>VS</h1></th>
                <td style="text-align:right" width="20%"><img id ="pictureAway" width="100%" ></td>
            </tr>
        </table>
        <table style="width:100%">
            <td id="nameHome"></td>
            <td id="nameAway" style="text-align:right"></td>
        </table>
        <table style="width:100%">
            <tr>
                <td style="text-align:left" style="text-align:justify" width="40%" id="goalsHome"></td>
                <th id="goals" style="text-align:center" width="20%"></th>
                <td style="text-align:right" width="40%" id="goalsAway" style="text-align:justify"></td>
            </tr>
            <tr>
                <td style="text-align:left" width="40%" id="formationHome" style="text-align:justify"></td>
                <th id="formation" style="text-align:center" width="20%"></th>
                <td style="text-align:right" width="40%" id="formationAway" style="text-align:justify"></td>
            </tr>
            <tr>
                <td style="text-align:left" width="40%" id="shotHome" style="text-align:justify"></td>
                <th style="text-align:center" width="20%" id="shot"></th>
                <td style="text-align:right" width="40%" id="shotAway" style="text-align:justify"></td>
            </tr>
            <tr>
                    <td style="text-align:left" width="40%" id="redCardHome" style="text-align:justify"></td>
                    <th style="text-align:center" width="20%" id="redCard"></th>
                    <td style="text-align:right" width="40%" id="redCardAway" style="text-align:justify"></td>
                </tr>
            <tr>
                    <td style="text-align:left" width="40%" id="yellowCardHome" style="text-align:justify"></td>
                    <th style="text-align:center" width="20%" id="yellowCard"></th>
                    <td style="text-align:right" width="40%" id="yellowCardAway" style="text-align:justify"></td>
                </tr>
            <tr>
                    <td style="text-align:left" width="40%" id="keeperHome" style="text-align:justify"></td>
                    <th style="text-align:center" width="20%" id="keeper"></th>
                    <td style="text-align:right" width="40%" id="keeperAway" style="text-align:justify"></td>
                </tr>
            <tr>
                    <td style="text-align:left" width="40%" id="defenseHome" style="text-align:justify"></td>
                    <th style="text-align:center" width="20%" id="defense"></th>
                    <td style="text-align:right" width="40%" id="defenseAway" style="text-align:justify"></td>
                </tr>
            <tr>
                    <td style="text-align:left" width="40%" id="midFieldHome" style="text-align:justify"></td>
                    <th style="text-align:center" width="20%" id="midField"></th>
                    <td style="text-align:right" width="40%" id="midFieldAway" style="text-align:justify"></td>
                </tr>
            <tr>
                    <td style="text-align:left" width="40%" id="fowardHome" style="text-align:justify"></td>
                    <th style="text-align:center" width="20%" id="foward"></th>
                    <td style="text-align:right" width="40%" id="fowardAway" style="text-align:justify"></td>
                </tr>
            <tr>
                    <td style="text-align:left" width="40%" id="subsitutesHome" style="text-align:justify"></td>
                    <th style="text-align:center" width="20%" id="subsitutes"></th>
                    <td style="text-align:right" width="40%" id="subsitutesAway" style="text-align:justify"></td>
                </tr>
        </table>
      </div>
    </div>
  </body>
</html>