<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>match</title>
    <link rel="stylesheet" href="themes/football.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="javascripts/match.js"></script>
  </head>
  <body>
    <div data-role="page" data-theme="a">
      <div data-role="header" data-position="inline">
        <h1>Football Match Schedule</h1>
      </div>
      <div data-role="content" data-theme="a">
            <div data-role="navbar">
                <ul>
                    <li><a id="lastMatch">Last Match</a></li>
                    <li><a id="nextMatch">Next Match</a></li>
                </ul>
            </div>
            <div>
                <select name="idLeagues" id="idLeagues" onchange = "javascript:match()">
                    <option value="4328">English Premier League</option>
                    <option value="4329">English League Championship</option>
                    <option value="4331">German Bundesliga</option>
                    <option value="4332">Italian Serie A</option>
                    <option value="4334">French Ligue 1</option>
                    <option value="4335">Spanish La Liga</option>
                </select>
            </div>
            <div>
                <ul id="lvLeague" data-role="listview" data-inset="true">
                </ul>
            </div>
            <div data-role="footer" data-ajax = "false" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a id = "match">Matches</a></li>
                        <li><a id = "teams">Teams</a></li>
                        <li><a id = "fav">Favorites</a></li>
                    </ul>
                </div>
            </div>
      </div>
    </div>
  </body>
</html>